<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicoMuebles | Contacto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="py-4">
      <h1 class="text-center">Tico<span class="text-primary">Muebles</span></h1>
    </header>
    <div class="border-top py-3">
      <div class="navbar navbar-expand-lg container navbar-light">
        <button
          class="navbar-toggler m-auto my-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="nav" class="collapse navbar-collapse mt-2">
          <nav
            class="navbar-nav container text-center d-flex flex-lg-row justify-content-md-between"
          >
            <a class="p-1 text-dark text-decoration-none" href="nosotros.html"
              >Nosotros</a
            >
            <a class="p-1 text-dark text-decoratio-none" href="tienda.html"
              >Tienda</a
            >
            <a class="p-1 text-dark text-decoratio-none" href="blog.html"
              >Blog</a
            >
            <a class="p-1 text-dark text-decoratio-none" href="galeria.html"
              >Galería</a
            >
            <a class="p-1 text-dark text-decoratio-none" href="contacto.html"
              >Contacto</a
            >
          </nav>
        </div>
      </div>
    </div>
    <main class="container-xl py-5">
      <h2 class="text-center my-5">Contáctanoss</h2>
      <div class="row justify-content-center">
        <form action="" class="col-md-8">
          <fieldset>
            <legend class="bg-primary text-center text-white fs-2 fw-bold">
              Coloca tus datos
            </legend>
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input
                class="form-control"
                type="text"
                id="name"
                placeholder="Nombre"
              />
            </div>
            <div class="mb-3">
              <label for="asunto" class="form-label">Asunto</label>
              <input
                class="form-control"
                type="text"
                id="asunto"
                placeholder="Asunto"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo</label>
              <input
                class="form-control"
                type="email"
                id="email"
                placeholder="Email"
              />
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Mensaje</label>
              <textarea
                class="form-control"
                name="message"
                id="message"
                placeholder="Mensaje"
              ></textarea>
            </div>
          </fieldset>
          <fieldset>
            <legend class="bg-primary text-center text-white fs-2 fw-bold">
              País
            </legend>
            <div class="mb-3">
              <label for="pais" class="form-label">País</label>
              <select class="form-control" name="pais" id="pais">
                <option value="">Seleccione</option>
                <option value="mx">México</option>
                <option value="cr">Costa Rica</option>
                <option value="pr">Perú</option>
                <option value="co">Colombia</option>
                <option value="ar">Argentína</option>
              </select>
            </div>
          </fieldset>
          <fieldset>
            <legend class="bg-primary text-center text-white fs-2 fw-bold">
              Información adicional
            </legend>
            <div class="mb-3 form-check">
              <label for="cliente" class="form-label">Cliente</label>
              <input
                name="tipo"
                type="radio"
                class="form-check-input"
                id="cliente"
              />
            </div>
            <div class="mb-3 form-check">
              <label for="proveedor" class="form-label">Proveedor</label>
              <input
                name="tipo"
                type="radio"
                class="form-check-input"
                id="proveedor"
              />
            </div>
          </fieldset>
          <div class="d-grid d-md-flex">
            <input
              class="mt-5 btn btn-success btn-lg px-5 fs-2 fw-bold btn-lg"
              type="submit"
              value="Enviar"
            />
          </div>
        </form>
      </div>
    </main>
    <footer class="pt-3 border-top">
      <div class="container-xl mt-3">
        <div class="row">
          <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
            <h3 class="mb-4">Categorías</h3>
            <nav class="d-flex flex-column">
              <a class="text-dark text-decoration-none" href="#">Cocina</a>
              <a class="text-dark text-decoration-none" href="#">Oficina</a>
              <a class="text-dark text-decoration-none" href="#">Jardín</a>
              <a class="text-dark text-decoration-none" href="#">Hogar</a>
            </nav>
          </div>
          <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
            <h3 class="mb-4">Sobre Nosotros</h3>
            <nav class="d-flex flex-column">
              <a class="text-dark text-decoration-none" href="#"
                >Misión, visión y valores</a
              >
              <a class="text-dark text-decoration-none" href="#">Carreras</a>
              <a class="text-dark text-decoration-none" href="#"
                >Nuestra historia</a
              >
              <a class="text-dark text-decoration-none" href="#"
                >Términos y condiciones</a
              >
            </nav>
          </div>
          <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
            <h3 class="mb-4">Soporte</h3>
            <nav class="d-flex flex-column">
              <a class="text-dark text-decoration-none" href="#"
                >Pregunstas frecuentes</a
              >
              <a class="text-dark text-decoration-none" href="#">Ayuda</a>
              <a class="text-dark text-decoration-none" href="#"
                >Confianza y seguridad</a
              >
            </nav>
          </div>
        </div>
      </div>
      <p class="py-3 fs-2 fw-bold bg-primary text-white text-center mt-5 mb-0">
        Todos los derechos reservados TicoMuebles &copy;
      </p>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
