<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicoMuebles | Entrada</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="py-4">
      <h1 class="text-center">Tico<span class="text-primary">Muebles</span></h1>
    </header>
    <div class="border-top py-3">
      <div class="navbar navbar-expand-lg container navbar-light">
        <button
          class="navbar-toggler m-auto my-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="nav" class="collapse navbar-collapse mt-2">
          <nav
            class="navbar-nav container text-center d-flex flex-lg-row justify-content-md-between"
          >
            <a class="p-1 text-dark text-decoration-none" href="nosotros.html"
              >Nosotros</a
            >
            <a class="p-1 text-dark text-decoratio-none" href="tienda.html"
              >Tienda</a
            >
            <a class="p-1 text-dark text-decoratio-none" href="blog.html"
              >Blog</a
            >
            <a class="p-1 text-dark text-decoratio-none" href="galeria.html"
              >Galería</a
            >
            <a class="p-1 text-dark text-decoratio-none" href="contacto.html"
              >Contacto</a
            >
          </nav>
        </div>
      </div>
    </div>
    <main class="container-xl py-5">
      <h2 class="text-center my-5">Guía de colores</h2>
      <div class="row mt-5 gx-5 justify-content-md-center">
        <main class="col-md-8">
          <article class="p-3">
            <picture>
              <source srcset="./assets/img/nosotros.avif" type="image/avif" />
              <source srcset="./assets/img/nosotros.webp" type="image/webp" />
              <img
                class="img-fluid"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/nosotros.jpg"
                alt="imagen"
              />
            </picture>
            <div
              class="d-flex flex-column flex-md-row justify-content-md-between my-3"
            >
              <p class="fw-bold">
                Fecha:
                <span class="text-primary">22/Dic/2021</span>
              </p>
              <p class="fw-bold">
                Escrito por:
                <span class="text-primary">Monserrat Mora</span>
              </p>
            </div>
            <div class="p-4 pt-0">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et cum
                soluta sapiente asperiores odit ea, adipisci quae ducimus sed
                quos quia ipsa quas perspiciatis totam rem nobis minus iste non.
              </p>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et cum
                soluta sapiente asperiores odit ea, adipisci quae ducimus sed
                quos quia ipsa quas perspiciatis totam rem nobis minus iste non.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                dolorem suscipit praesentium distinctio omnis quos dolorum
                voluptatibus. Numquam natus iste quidem id consequuntur totam,
                voluptate iusto, similique quam tempore odit quibusdam quod,
                odio rem cumque!
              </p>
            </div>
          </article>
        </main>
      </div>
    </main>
    <footer class="pt-3 border-top">
      <div class="container-xl mt-3">
        <div class="row">
          <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
            <h3 class="mb-4">Categorías</h3>
            <nav class="d-flex flex-column">
              <a class="text-dark text-decoration-none" href="#">Cocina</a>
              <a class="text-dark text-decoration-none" href="#">Oficina</a>
              <a class="text-dark text-decoration-none" href="#">Jardín</a>
              <a class="text-dark text-decoration-none" href="#">Hogar</a>
            </nav>
          </div>
          <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
            <h3 class="mb-4">Sobre Nosotros</h3>
            <nav class="d-flex flex-column">
              <a class="text-dark text-decoration-none" href="#"
                >Misión, visión y valores</a
              >
              <a class="text-dark text-decoration-none" href="#">Carreras</a>
              <a class="text-dark text-decoration-none" href="#"
                >Nuestra historia</a
              >
              <a class="text-dark text-decoration-none" href="#"
                >Términos y condiciones</a
              >
            </nav>
          </div>
          <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
            <h3 class="mb-4">Soporte</h3>
            <nav class="d-flex flex-column">
              <a class="text-dark text-decoration-none" href="#"
                >Pregunstas frecuentes</a
              >
              <a class="text-dark text-decoration-none" href="#">Ayuda</a>
              <a class="text-dark text-decoration-none" href="#"
                >Confianza y seguridad</a
              >
            </nav>
          </div>
        </div>
      </div>
      <p class="py-3 fs-2 fw-bold bg-primary text-white text-center mt-5 mb-0">
        Todos los derechos reservados TicoMuebles &copy;
      </p>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
